@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

nav {
    background-color: #000000;
    height: 70px;
    border-bottom: 1px solid #333333;
}

nav div:last-child {
    height: 100%;
}

body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(31,3,47,1) 0%, rgba(46,6,48,0.6964986678265056) 100%); 
}

.cd-card {
    border: 1px solid #cbcbcb;
    border-radius: 1rem;
    background-color: #f5f5f5;;
}

.cd-card i {
    font-size: 70px;
}

.cd-pwd-container {
    display: inline-block;
    padding: 10px 50px;
    background-color: #333333;
    border-radius: 1.5rem;
    color: lightgreen;
    font-family: 'Source Code Pro', monospace;
    box-shadow: 0px 0px 5px #5f5f5f;
}